<!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="static/favicon.ico">
      <title>登入控台 - FM看門狗</title>
      <!-- Bootstrap core CSS -->
      <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  
      <!-- Custom styles for this template -->
      <link href="https://getbootstrap.com/docs/4.0/examples/sign-in/signin.css" rel="stylesheet">
    </head>
  
    <body class="text-center">
      <form class="form-signin" action="/login" method="POST">
        <img class="mb-4" src="./static/LOGO1024BkDC_ni.svg" alt="" width="128" height="128">
        <h1 class="h3 mb-3 font-weight-normal">FiveM RP 看門狗</h1>
        <label for="inputUser" class="sr-only">帳號</label>
        <input id="inputUser" type="text" name="uid" class="form-control" placeholder="User" required autofocus>
        <label for="inputPassword" class="sr-only">密碼</label>
        <input type="password" id="inputPassword" name="upass" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
        <br>
        <font color = "red"><h3 class="h5 mb-3 font-weight-normal">{{errorMsg}}</h3></font>
        <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
      </form>
    </body>
  </html>